<%# app/views/categories/_categories_list.html.erb %>

<h2 data-v-0ada92f4="" data-v-0e51b078="" class="mb-4">Categories</h2>


<table>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>

  <% categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td>
        <%= link_to 'Edit', edit_category_path(category) %> |
        <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Category', new_category_path %>
